.container {
  padding-bottom: 50px;
}

#map {
  height: 600px;
  margin-top: 20px;
}

.mag-1{background-color: white;} 
.mag-2{background-color: #FFFF99;}
.mag-3{background-color: #FFFF00;}
.mag-4{background-color: #FFFF99;}
.mag-5{background-color: #FF9900 }
.mag-6{background-color: #FF6600;}
.mag-7{background-color: #CC3300;}
.mag-8{background-color: #990000;}
.mag-9{background-color: #660000;}
